body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container{
  margin:auto;
  border-collapse:collapse;
  box-shadow: 2px 2px 2px 2px gray;
  margin-top:1em;
  width:360px;
  
}
.price-container{
  border:1px solid black;
  margin:auto;
  width:360px;
  background-color: rgba(255, 255, 255, 0.9);
}
.details-container{
  border:1px solid black;
  position:relative;

  margin:auto;
  width:360px;
  background-color:rgba(255, 255, 255, 0.9);
}
.promp-container{
  border:1px solid black;
  
  margin:auto;
  width:360px;
  height:150px;
  background-color: rgba(255, 255, 255, 0.9);
}
.line{
  height:40px;
  margin:20px 12px;
  position:relative;
}

.line .textColor-red {
  color: red;
}

.line > strong{

  float:right;

}
.line > .text-bold{
  top:-5px;
  font-size:150%;
  font-weight:bold;
}
.line 
.line > .text-underline{
  text-decoration:underline;
}
.line > .text-underline:hover .toolTips{
  display:block;
}

.toolTips{
  position:absolute;
  background-color:white;
  box-shadow: 1px 1px 1px 1px gray;

  z-index:1;
  left:-30px;
  top:6px;;
  width:250px;
  padding:5px;

  border-radius:5px;
  text-decoration:none;
  display:none;
}
.expander{

  
  margin-left:1em;
}
.expander > p{
  text-decoration:underline;
}

figure{
  position:relative;
  height:160px;
  display:grid;
}
img{
  position: absolute;
  left:-30px;
  top:0;

  width:140px;
  height:150px;
}
figcaption{
  word-wrap:break-word;
  position: absolute;
  right:-30px;
  top:-20px;

  width:150px;
  line-height:20px;
}
.promoInput {
  position:relative;
}
.promoInput input{
  height:20px;
  border:1px solid gray;
  border-radius:3px;
}
.promoInput button{
  font-weight: bold;
  position: absolute;
  right:150px;
  top:32px;
  padding:7px;
  border-radius:10px;
}